@import "tailwindcss";
@plugin "daisyui";

/* paleta de colores : https://colorhunt.co/palette/4684329ad872ffef91ffa02e */
@plugin "daisyui/theme" {
  name: "roadlight";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(78% 0 0); 
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #468432;
  --color-primary-content: oklch(98% 0.001 106.423);
  --color-secondary: #FFEF91;
  --color-secondary-content:oklch(21% 0.006 285.885); 
  --color-accent: #9AD872;
  --color-accent-content: oklch(98% 0.018 155.826);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: #FFA02E;
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: #D72638;
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.25rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Iter, Roboto,sans-serif;
}
